# SPDX-License-Identifier: GPL-2.0
config DFX_RAINBOW_TRACE
	depends on BLACKBOX
	default n
		bool "rainbow_trace"
	help
		rainbow trace will record irq and schedule trace log.

config DFX_RAINBOW_HIMNTN
	depends on BLACKBOX
	default n
		bool "rainbow_himntn"
	help
		rainbow himntn control kernel mntn.
